<div class="nav-div">
    <ul class="login-links">
        <% if (currentUser) { %>
        <li>signed in: <%= currentUser.username %> </li>
        <li>
          <form action="/sessions?_method=DELETE" method="POST">
            <input class= "btn btn-secondary" type="submit" value="Log Out"/>
          </form>
        </li>
        <% } else { %>
        <li><a class="session-links" href="/users/new">Sign Up</a></li>
        <li><a class="session-links" href="/sessions/new">Log In</a></li>
        <% } %>
      </ul>
</div>