/* MAIN PAGE STYLING */

@font-face {
    font-family: mySlime;
    src: url(shlop.ttf);
}

html {
    margin: 0
}

body {
    margin: 0;
    text-align: center;
    background-color: black;
}

.nav-div {
    padding:0;
    margin: 0;
}

.login-links {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2em;
    padding:10px 0px 10px 0px;
    list-style-type: none;
    align-items: center;
    background-color: black;
}

.login-links li {
    margin-right: 1em;
    color: white;
}

.session-links:hover {
color: lightgreen;
}

h1, h2, h3, h4, p {
    text-align: center;
    color: white
}

a {
    text-decoration: none;
    color: white;
}

.index-tile a{
    padding: 5px;
}

.index-tile a:hover {
    color: black;
    background-color: yellow;
}

.index-tile a:hover h5 {
    color: black
}


.index-tile a:hover .movie-tile-tag-single {
    background-color: black;
    color: white;
}

.main-page-header {
    font-size: 8vw;
}

.main-page-subheader {
    font-size: 3.2vw;
}

.new-button {
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 1em;
}

.log-in-or-sign-up {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.log-in-or-sign-up-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log-in-or-sign-up a, .log-in-or-sign-up p  {
    margin: .2em;
}

.log-in-or-sign-up-container p {
    margin-top: 1em;
    margin-bottom: 0;
}

.garbage-pit-header {
    font-size: 8vw;
    margin-bottom: 0;
    font-family: mySlime;
    color: rgb(2, 204, 0);
    text-shadow: 2px 2px black;
    background-image: url("https://i.imgur.com/XjXhG3I.png");
    background-size: contain;
    background-repeat:repeat;
}

.search-clear {
    display: flex;
    align-items: center;
    background-image: url("https://i.imgur.com/oKYkVZl.jpg");
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: center;
}

.search-group {
    display: flex;
    justify-content: center;
    background-size: auto;
}

.searchbar{
    margin: 0 0 0 0;
    width: 300px;
    border-radius: 10px;
    border: 0px;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("https://i.imgur.com/2m1RmTh.gif");
    background-repeat: repeat;
    margin: 0;
    min-height: 70vh;
}

.index-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    background-color:rgb(49, 144, 49);
    height: min-content;
}

.main-page-posters {
    width: 250px;
    height: 370.55px
}

.main-container {
    padding: 0;
    margin: 0;
}

.movie-tile-tags {
    display: flex;
    justify-content: center;
}

.movie-tile-tag-single {
    background-color: white;
    color: black;
    margin: .2em;
    padding: 2px;
    font-size: .5em;
}

.submitted-by {
    font-size: .6em;
}

.new-button-div {
    margin-top: 2em;
    margin-bottom: 2em;
}


/* SHOW PAGE STYLING */


.invisible {
    display:none;
}

.show-page{
    width: 75%;
    background-color: black;
    padding-top: 1em;
    margin-bottom: 2em;
}

body {
    background-image: url("https://i.imgur.com/2m1RmTh.gif");
    background-size:auto;
    background-repeat: round;
}

h5 {
    color: greenyellow;
    font-size: 1em;
    margin-bottom: 0;
}

.vote-results {
    margin-bottom:0;
}

.count-container {
    display: flex;
    justify-content: center;
}

.agree-count, .disagree-count {
    margin: 0 1em;
    font-size: 1em;
}

.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.show-page-poster {
    width: 60%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    display: block;
}

.movie-info {
    margin-top: 1em;
    margin-bottom: 2em;
}

.back-button {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 15px;
}

.vote-container {
    color: greenyellow;
    display: flex;
    justify-content: center;
}

.agree-button, .disagree-button, .agree-button-disabled, .disagree-button-disabled {
    width: 120px;
    margin: 1em;
}

.agree, .disagree {
    margin: 1em;
}


.edit-delete {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.edit-delete form, .edit-delete button {
    margin: 1em;
}

.comments-main {
    display: flex;
    flex-direction: column;
}

.comments-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    background-color: greenyellow;
    color: black;
    padding: .5em;
    width: 90%;
    max-width: 600px;
    margin-bottom: .5em;
    border-radius: 10px;
}

.comments-main, .comments-denied {
    padding-bottom: 3em;
}

.comments-container p {
    align-self: flex-start;
}

.commenter {
    align-self: flex-start;
    background-color: black;
    margin: 0;
    color: greenyellow;
    padding: .3em;
    position: relative;
    top: -10px;
    left: -10px;
}

.comment-box {
    background-color: greenyellow;
 
}

.comment {
    color: black;
}



.denied {
    color: greenyellow;
}

.comments-section-header {
    margin-top: 1em;
    color: greenyellow;
}

.show-page h2, .user-title, .show-page h4, .show-page h3, .post-comment-container p, .agree-count, .disagree-count{
    color: greenyellow;

}

.show-page h4 {
    margin-bottom: 1em;
    margin-top: 1em;
}

.tag-tile {
    background-color: greenyellow;
    margin: 1em;
    padding: 10px;
    color: black;
}

.director-name:hover, .actor-name:hover {
    background-color: rgb(0, 255, 0);
    color: black;
    }
    
.tag-tile:hover {
    background-color: rgb(0, 255, 0);
}
    
.user-title:hover {
    color: rgb(0, 255, 0);
}

.review-section {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

.review-div {
    margin: 10px;
}

/* NEW PAGE STYLING */

.form-group {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.username-input {
    text-align: center;
    background-color: rgba(56, 45, 255, 0);
    border: none;
    color:greenyellow;
    width: 90%;
    margin-bottom: 1em;
}

form p {
    margin-bottom: 0;
}

.director-name, .actor-name, .review-section {
    background-color: greenyellow;
    color: black;
    padding: 10px;
    text-align: center;
}




/* EDIT PAGE STYLING */

.edit-header {
    color: white;
}

/* SEARCH PAGE STYLINGS */

.no-results {
    background-color: darkgreen;
    padding: 20px;
    height: 200px;
    display: inline ;
    margin-top: 100px;
}

/* Login Page Styling */

.fa-eye {
    color: black;
    position:relative;
    z-index: 1;
    left: 42%;
    bottom: 32px;
}

.fa-eye-slash {
    color: black;
    position:relative;
    z-index: 1;
    left: 42%;
    bottom: 32px;
}

.notFound {
    margin-top: 1em;
    color: white;
}

/* New Account Styling */

#validation-txt {
    color: white;
}

#validation-txt-double {
    color:white;
}

.username-validate {
    color: white;
    margin-top: 1em;
}

.fa-check {
    color: green;
    position:relative;
    z-index: 1;
    left: 42%;
    bottom: 32px;
}

.bi-x-circle-fill { 
    color: red;
    position:relative;
    z-index: 1;
    left: 41.93%;
    bottom: 32px;
}