<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Icons -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles.css">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   

    <title>Create an Account</title>
  </head>
  <body class="show-page-body">
    <%- include ('../partials/nav.ejs') %>
    <div class="back-button-divider">
        <a href="/"><button class="btn btn-secondary back-button" >BACK</button></a>
        </div>
    <div class="container-fluid main-container create-account-container">
        <h1 class="account-header">Create an Account</h1>
        <form class="form-group create-account" action="/users/newUser" method="POST">
            <input class="form-control username-field" type="text"  name="username" maxlength="15" placeholder="Username" onkeyup="usernameCheck()" /><i class="username-check bi bi-x-circle-fill"></i><br/>
            <input class="form-control password-field password" type="password" name="password" placeholder="Password" onkeyup="validate();" oninput="check();"/><i class="pass-status fa fa-eye" aria-hidden="true" onClick="viewPassword()"></i><br/>
            <input class="form-control password-field password-confirm" type="password" name="password-confirm" placeholder="Confirm Password" onkeyup="validate();" oninput="check();"/><i class="pass-status2 fa fa-eye" aria-hidden="true" onClick="viewPassword2()"></i><br/>
            <input class="btn btn-primary add-account-button" id="submit" type="submit" value="Create Account" disabled = true/>
        </form>
        <div class="username-validate">
        </div>
        <div id="validation-txt-double">
        </div>
        <div id="validation-txt">
        </div>
    </div>
    <script>
        let key1 = false
        let key2 = false
        let key3 = false

        const viewPassword= () => {
            // used this tutorial : https://html.form.guide/html-form/html-input-type-password/ had to refactor a bit since i am editing multiple pages  //
            {
                let passwordInput = document.querySelector('.password-field');
                let passStatus = document.querySelector('.pass-status');
            
            if (passwordInput.type == 'password'){
                passwordInput.type='text';
                passStatus.className='pass-status fa fa-eye-slash';
                
            }
            else {
                    passwordInput.type='password';
                    passStatus.className='pass-status fa fa-eye';
            }
            }
        }

        
        const viewPassword2 = () => {
            // used this tutorial : https://html.form.guide/html-form/html-input-type-password/ had to refactor a bit since i am editing multiple pages  //
            {
                let passwordInput = document.querySelector('.password-confirm');
                let passStatus = document.querySelector('.pass-status2');
            
            if (passwordInput.type == 'password'){
                passwordInput.type='text';
                passStatus.className='pass-status2 fa fa-eye-slash';
                
            }
            else {
                    passwordInput.type='password';
                    passStatus.className='pass-status2 fa fa-eye';
            }
            }
        }

        const validate = () => {
            let  validationField = document.getElementById('validation-txt');
            let  password = document.querySelector('.password-field');

            let content = password.value;
            const  errors = [];
            if (content.length < 8) {
                errors.push("Your password must be at least 8 characters.</br>"); 
            }
            if (content.search(/[a-z]/i) < 0) {
                errors.push("Your password must contain at least one letter.</br>");

            }
            if (content.search(/[0-9]/i) < 0) {
                errors.push("Your password must contain at least one digit.</br>"); 

            }
            if (errors.length > 0 || content.length === 0) {
                validationField.innerHTML = errors.join('');
                document.querySelector(".add-account-button").disabled = true
                key1 = false
                return false;
            }
                validationField.innerHTML = errors.join('');
                key1 = true
                if (key1 === true && key2 === true && key3 === true) {
                    document.querySelector(".add-account-button").disabled = false
                }
                return true;

        }

        const usernameCheck = () => {
            $.ajax({url: '/users/UserList', method:'GET'}).then(function(data) {
            console.log(data)
            let validationField = document.querySelector('.username-validate');
            let userAvailable = document.querySelector('.username-field');
            let nameStatus = document.querySelector('.username-check');
            let content = userAvailable.value;

            const  errors = [];

            for (let i=0; i < data.length; i++) {
                if (data[i].username == content) {
                    errors.push("This username is not available.");
                }
            }
            if (errors.length > 0 || content.length === 0) {
                validationField.innerHTML = errors.join('');
                nameStatus.className = 'username-check bi bi-x-circle-fill'
                key3=false
                document.querySelector(".add-account-button").disabled = true
                return false;
            } 
                validationField.innerHTML = errors.join('');
                nameStatus.className = 'username-check fa fa-check'
                key3=true
                if (key1 === true && key2 === true && key3 === true) {
                    document.querySelector(".add-account-button").disabled = false
                }
                return true;
    })}

        // used this stackoverflow post as a starting point and then customized it to my own specifications: //
        // https://stackoverflow.com/questions/9142527/can-you-require-two-form-fields-to-match-with-html5 //
        
        const check = () => {
            let  validationField = document.getElementById('validation-txt-double');
            let  password = document.querySelector('.password');
            let  passwordConfirm = document.querySelector('.password-confirm')
            let content = password.value;

            let errors = []
            if (passwordConfirm.value != password.value) {
               errors.push('Passwords much match.');
            }
            if (errors.length > 0) {
                validationField.innerHTML = errors.join('');
                key2 = false
                document.querySelector(".add-account-button").disabled = true
                return false
            } else {
                validationField.innerHTML = errors.join('');
                key2 = true
                if (key1 === true && key2 === true && key3 === true) {
                    document.querySelector(".add-account-button").disabled = false
                }
                return true;
            }
        }
    </script>
  </body>
</html>
